<ion-menu [content]="content">
  <ion-toolbar>
    <ion-title>Поиск маршрута</ion-title>
  </ion-toolbar>

  <ion-searchbar
    [(ngModel)]="routeName"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onSearchInput()"
    (ionCancel)="routeName = ''">
  </ion-searchbar>

  <ion-content>
    <ion-list *ngIf="buses.length > 0">
      <ion-list-header class="route-list-header" (click)="hideBuses = ! hideBuses">
        Автобусы
        <ion-icon name="arrow-dropdown" class="route-list-arrow" [hidden]="hideBuses"></ion-icon>
        <ion-icon name="arrow-dropright" class="route-list-arrow" [hidden]="!hideBuses"></ion-icon>
      </ion-list-header>
      <ion-item *ngFor="let bus of buses" [hidden]="hideBuses">
        {{bus.name}}
      </ion-item>
    </ion-list>
    <ion-list *ngIf="smallBuses.length > 0">
      <ion-list-header class="route-list-header" (click)="hideSmallBuses = ! hideSmallBuses">
        Маршрутки
        <ion-icon name="arrow-dropdown" class="route-list-arrow" [hidden]="hideSmallBuses"></ion-icon>
        <ion-icon name="arrow-dropright" class="route-list-arrow" [hidden]="!hideSmallBuses"></ion-icon>
      </ion-list-header>
      <ion-item *ngFor="let smallBus of smallBuses" [hidden]="hideSmallBuses">
        {{smallBus.name}}
      </ion-item>
    </ion-list>
    <ion-list *ngIf="trolleys.length > 0">
      <ion-list-header class="route-list-header" (click)="hideTrolleys = ! hideTrolleys">
        Троллейбусы
        <ion-icon name="arrow-dropdown" class="route-list-arrow" [hidden]="hideTrolleys"></ion-icon>
        <ion-icon name="arrow-dropright" class="route-list-arrow" [hidden]="!hideTrolleys"></ion-icon>
      </ion-list-header>
      <ion-item *ngFor="let smallBus of trolleys" [hidden]="hideTrolleys">
        {{smallBus.name}}
      </ion-item>
    </ion-list>
    <ion-list *ngIf="trams.length > 0">
      <ion-list-header class="route-list-header" (click)="hideTrams = ! hideTrams">
        Трамваи
        <ion-icon name="arrow-dropdown" class="route-list-arrow" [hidden]="hideTrams"></ion-icon>
        <ion-icon name="arrow-dropright" class="route-list-arrow" [hidden]="!hideTrams"></ion-icon>
      </ion-list-header>
      <ion-item *ngFor="let smallBus of trams" [hidden]="hideTrams">
        {{smallBus.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
