<ion-menu [content]="content">

  <ion-toolbar>
    <ion-title>Поиск маршрута</ion-title>
  </ion-toolbar>

  <ion-searchbar
    [(ngModel)]="routeName"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onSearchInput()"
    (ionCancel)="routeName = ''">
  </ion-searchbar>

  <ion-content>
    <ion-list *ngIf="buses.length > 0">
      <ion-item>
        Автобусы
      </ion-item>
      <ion-item *ngFor="let bus of buses">
        {{bus.name}}
      </ion-item>
    </ion-list>
    <ion-list *ngIf="smallBuses.length > 0">
      <ion-item>
        Маршрутки
      </ion-item>
      <ion-item *ngFor="let smallBus of smallBuses">
        {{smallBus.name}}
      </ion-item>
    </ion-list>
    <ion-list *ngIf="trolleys.length > 0">
      <ion-item>
        Троллейбусы
      </ion-item>
      <ion-item *ngFor="let smallBus of trolleys">
        {{smallBus.name}}
      </ion-item>
    </ion-list>
    <ion-list *ngIf="trams.length > 0">
      <ion-item>
        Трамваи
      </ion-item>
      <ion-item *ngFor="let smallBus of trams">
        {{smallBus.name}}
      </ion-item>
    </ion-list>
  </ion-content>
  <!--(click)="openPage(p)-->

</ion-menu>

<ion-nav [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
